//
//  Development.xcconfig
//  DATEROAD-iOS
//
//  Created by 윤희슬 on 7/1/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// key
KAKAO_NATIVE_APP_KEY = 88a3ac99ca375540b12b24516c36751a

BASE_URL = http:/$()/43.202.136.114/

KAKAO_APPSTORE = itms-apps://itunes.apple.com/app/362057947

ACCESS_TOKEN = Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI0IiwiaWF0IjoxNzIxMDY2MDA2LCJleHAiOjE3MjM0ODUxMDZ9.-3xRrDlDixBsHKH7sUMjcYkHT8ry5f3STuwmL27abF8
