//
//  Development.xcconfig
//  DATEROAD-iOS
//
//  Created by 윤희슬 on 7/1/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// key
KAKAO_NATIVE_APP_KEY = 88a3ac99ca375540b12b24516c36751a

KAKAO_APPSTORE = itms-apps://itunes.apple.com/app/362057947

AMPLITUDE_API_KEY = 64978a485f90b6b5fd9bd823c936e1dc

//테스트서버
//BASE_URL = http:/$()/43.202.136.114/

//dev-server
//BASE_URL = https:/$()/api.date-road.p-e.kr/

//운영서버
//BASE_URL = http:/$()/13.124.191.61/

//main-server
BASE_URL = http:/$()/api.dateroad-main.p-e.kr/
