//
//  Development.xcconfig
//  DATEROAD-iOS
//
//  Created by 윤희슬 on 7/1/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// key
KAKAO_NATIVE_APP_KEY = 88a3ac99ca375540b12b24516c36751a

BASE_URL = http:/$()/43.202.136.114/

KAKAO_APPSTORE = itms-apps://itunes.apple.com/app/362057947

AMPLITUDE_API_KEY = 64978a485f90b6b5fd9bd823c936e1dc
